  @{include("./../../Commons/header-common.i")}
 
  <link rel='stylesheet' href='@{siteAddress}/assets/reset.css?v=4'>
  <link rel='stylesheet' href='@{siteAddress}/assets/index.css?v=4'>
 
  <script>
  MathJax = {
    startup: {
      ready() {
        MathJax.startup.defaultReady();
        const {Token} = MathJax._.input.tex.Token;
        const {MapHandler} = MathJax._.input.tex.MapHandler;
        const delimiter = MapHandler.getMap('delimiter');
        delimiter.add('\\llbracket', new Token('\\llbracket', '\u27E6'));
        delimiter.add('\\rrbracket', new Token('\\rrbracket', '\u27E7'));
      }
    }
  }
  </script>
  
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@@4/tex-mml-chtml.js"></script>

  <link rel='canonical' href='@{siteAddress}/specifications/context-free-grammars/index.html'>
  <title>Context-Free Grammar</title>
  <style>
  @{include("./../specification.css.i")}
  my-formula-box.align-left > mjx-container {
    text-align: left!important;
  }
  </style>
</head>
<body class="my-content-page-1">
  <header>
  <div>
  <a href="@{siteAddress}/">Home</a>
  </div>
  </header>
  <main>
    <div class="left-column"></div>
    <div class="center-column">
    @{include("./contents.i")}
  </div>
  <div class="right-column">
    <nav>
    </nav>
  </div>
  </main>
  <footer>
    <div class="left-column"></div>
    <div class="center-column"></div>
    <div class="right-column">
      <div>Website maintained by @{siteAuthor}.</div>
      <div>Last modified on @{dayOfMonth()} @{monthName()} @{year()}.</div>
    </div>
  </footer>
</body>
</html>
